.header {
    background-color: #89CFF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    max-width: 1000px;
    max-height: 200px;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 130px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width:auto
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a{
    color: #111;
    text-decoration: none;
}
