#root {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #b1beee;
  min-height: 100vh;
}


.tabs {
  max-width: 70vw;
  margin: auto;
  border: 5px white;
  min-height: 50vh;
  background-color: #F0FFFF;
}


.react-tabs__tab-list {
  background-color: #D9D9D9;
}

.react-tabs__tab--selected {
  background: #F0FFFF;
}

.react-tabs__tab {
  border: 5px gray
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
